In [1]:
import mysql.connector
db = mysql.connector.connect(host ="localhost" ,user ="root" ,password ="admin")
mydb = db.cursor()
mydb.execute('show databases')

for i in mydb:
    print(i)

('house',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('sys',)
('world',)

# selecting all the data in the database

In [2]:
import mysql.connector
db = mysql.connector.connect(host ="localhost" ,user ="root" ,password ="admin" , database = 'house')
mydb = db.cursor()
mydb.execute('select * from tenants')


for i in mydb:
    print(i)

(1, 'Chika', 'Chima', 590542123, 400000, '3 bedroom flat')
(2, 'Precious', 'Darlington', 766443322, 250000, '2 bedroom flat')
(3, 'Felicia', 'Railey', 352121215, 350000, '3 bedroom flat')
(4, 'Evans', 'Mike', 568976323, 3200000, '2 bedroom flat')
(5, 'Gloria ', 'Favour', 457883736, 450000, '4 bedroom flat')

# fetching only one item

In [8]:
import mysql.connector
db = mysql.connector.connect(host ="localhost" ,user ="root" ,password ="admin" , database = 'house')
mydb = db.cursor()
mydb.execute('select * from tenants')
result = mydb.fetchone()
for i in result:
    print(i)

1
Chika
Chima
590542123
400000
3 bedroom flat

# fetching all using fetchall()

In [9]:
import mysql.connector
db = mysql.connector.connect(host ="localhost" ,user ="root" ,password ="admin" , database = 'house')
mydb = db.cursor()
mydb.execute('select * from tenants')
result = mydb.fetchall()
for i in result:
    print(i)

(1, 'Chika', 'Chima', 590542123, 400000, '3 bedroom flat')
(2, 'Precious', 'Darlington', 766443322, 250000, '2 bedroom flat')
(3, 'Felicia', 'Railey', 352121215, 350000, '3 bedroom flat')
(4, 'Evans', 'Mike', 568976323, 3200000, '2 bedroom flat')
(5, 'Gloria ', 'Favour', 457883736, 450000, '4 bedroom flat')

# single row

In [15]:
import mysql.connector
db = mysql.connector.connect(host ="localhost" ,user ="root" ,password ="admin" , database = 'house')
mydb = db.cursor()
mydb.execute('select * from tenants where id = 5 ')
result = mydb.fetchone()
for i in result:
    print(i)

5
Gloria
Favour
457883736
450000
4 bedroom flat

# fetching single row from the table

In [17]:
db = mysql.connector.connect(host ="localhost" ,user ="root" ,password ="admin" , database = 'house')
mydb = db.cursor()
mydb.execute('select * from tenants where id = 4 ')
result = mydb.fetchall()
for i in result:
    print(i)

(4, 'Evans', 'Mike', 568976323, 3200000, '2 bedroom flat')

In [23]:
db = mysql.connector.connect(host ="localhost" ,user ="root" ,password ="admin" , database = 'house')
mydb = db.cursor()
mydb.execute('select * from tenants where id = 4')
result = mydb.fetchone()
for i in result:
    print(i)

4
Evans
Mike
568976323
3200000
2 bedroom flat

# database creation

In [24]:
db = mysql.connector.connect(host ="localhost" ,user ="root" ,password ="admin" , database = 'house')
mydb = db.cursor()
mydb.execute('create database computer')

In [25]:
import mysql.connector
db = mysql.connector.connect(host ="localhost" ,user ="root" ,password ="admin",database ='computer' )
mydb = db.cursor()
mydb.execute('create table company(id int(5) ,brand varchar(20) , quantity int(10) ,price int(20) ,primary key(id) )')
mydb.execute('show databases')
result = mydb.fetchall()
for i in result:
    print(i)

('computer',)
('house',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('shoes',)
('student',)
('sys',)
('world',)

# creation of tables

In [26]:
import mysql.connector
db = mysql.connector.connect(host ="localhost" ,user ="root" ,password ="admin",database ='computer' )
mydb = db.cursor()
#mydb.execute('create table company(id int(5) ,brand varchar(20) , quantity int(10) ,price int(20) ,primary key(id) )')
mydb.execute('show tables')
result = mydb.fetchall()
for i in result:
    print(i)

('company',)

In [36]:
import mysql.connector
db = mysql.connector.connect(host ="localhost" ,user ="root" ,password ="admin",database ='computer' )
mydb = db.cursor()

#sqlform = "insert into company values(10 ,'HP' ,10 ,20000) "
#mydb.execute(sqlform)
mydb.execute("select * from company")
my = mydb.fetchall()
for k in my:
    print(k)

(10, 'HP', 10, 35000)
(11, 'Dell', 20, 25000)
(12, 'Apple', 15, 35000)
(13, 'LENOVO', 13, 15000)
(14, 'TOSHIBA', 23, 17000)
(15, 'SAMSUNG', 5, 30000)

In [34]:
import mysql.connector
db = mysql.connector.connect(host ="localhost" ,user ="root" ,password ="admin",database ='computer' )
mydb = db.cursor()

mydb.execute("select brand from company")
my = mydb.fetchone()
for k in my:
    print(k)

HP

# updation

In [37]:
import mysql.connector
db = mysql.connector.connect(host ="localhost" ,user ="root" ,password ="admin",database ='computer' )
mydb = db.cursor()


sql = "update company set price =35000 where brand = 'hp' "
mydb.execute(sql)
db.commit()

In [41]:
import mysql.connector
db = mysql.connector.connect(host ="localhost" ,user ="root" ,password ="admin",database ='student' )
mydb = db.cursor()

sqlform = "insert into studentdetails(id,fname,lname, phone ,course, sem) values(%s ,%s,%s ,%s ,%s,%s)"
prod =[(106 ,'Mercy' ,'Nuel' ,788940433,'ACCOUNTING' ,'6TH TERM'),(17,'CHUKWUDI' ,'EDWAR' ,568964332,'COMPUTER SCIENCE','4TH SEM') ]
mydb.executemany(sqlform,prod)
db.commit()

In [48]:
db = mysql.connector.connect(host ="localhost" ,user ="root" ,password ="admin",database ='student' )
mydb = db.cursor()


mydb.execute("select * from studentdetails")
my = mydb.fetchall()
for k in my:
    print(k)

(17, 'CHUKWUDI', 'EDWAR', 568964332, 'COMPUTER SCIENCE', '4TH SEM')
(101, 'Mike', 'Matthew', 576884338, 'BCA', '3RD Term')
(102, 'Mikel', 'Mark', 38896443, 'BA', '3RD Term')
(103, 'Moses', 'Kamiton', 590542123, 'BCOM', '4TH Term')
(104, 'Martha', 'Nuel', 76543612, 'COMPUTER SCIENCE', '2ND Term')
(105, 'Rita', 'Jordan', 236809863, 'MEDICINE', '1st Term')
(106, 'Mercy', 'Nuel', 788940433, 'ACCOUNTING', '6TH TERM')

# selecting single row

In [45]:
db = mysql.connector.connect(host ="localhost" ,user ="root" ,password ="admin",database ='student' )
mydb = db.cursor()


mydb.execute("select  *from studentdetails where fname ='chukwudi'")
my = mydb.fetchone()
for k in my:
    print(k)

17
CHUKWUDI
EDWAR
568964332
COMPUTER SCIENCE
4TH SEM

# deletion operation

In [49]:
db = mysql.connector.connect(host ="localhost" ,user ="root" ,password ="admin",database ='student' )
mydb = db.cursor()


sql ="delete  from studentdetails where fname ='rita'"
mydb.execute(sql)
db.commit()

In [50]:
db = mysql.connector.connect(host ="localhost" ,user ="root" ,password ="admin",database ='student' )
mydb = db.cursor()


mydb.execute("select * from studentdetails")
my = mydb.fetchall()
for k in my:
    print(k)

(17, 'CHUKWUDI', 'EDWAR', 568964332, 'COMPUTER SCIENCE', '4TH SEM')
(101, 'Mike', 'Matthew', 576884338, 'BCA', '3RD Term')
(102, 'Mikel', 'Mark', 38896443, 'BA', '3RD Term')
(103, 'Moses', 'Kamiton', 590542123, 'BCOM', '4TH Term')
(104, 'Martha', 'Nuel', 76543612, 'COMPUTER SCIENCE', '2ND Term')
(106, 'Mercy', 'Nuel', 788940433, 'ACCOUNTING', '6TH TERM')